<style>
 #test p {
     display: inline-block;
     border: 1px solid red;
     width: 200px;
     height: 100px;
     background-color: red;
     color: white;
     font-size: 18px;
     font-weight: bold;
 }
</style>


<div id="test">
  <p>Batata 1</p>
  <p>Batata 2</p>
</div>
